@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  margin: 0 auto;
  width: 92.5%;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__lang-links {
  padding-top: 0;
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 14px;
  padding-right: 1px;
}

.header__lang-link {
  padding-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  list-style: none;
  margin-left: 18px;
}

/* LEAD */

.lead {
  margin: 0 auto;
  padding-top: 56px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  margin-top: 64px;
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}

/* intro */

.intro {
  padding-top: 92px;
  margin: 0 0;
  padding-left: 148px;
  max-width: 690px;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0 0;
}

.intro__subtitle {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.photo-grid {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
  display: grid;
  grid-auto-rows: 213px;
  grid-template-columns: repeat(4, 284px);
  gap: 16px 16px;
}

.photo-grid__item {
  object-fit: fill;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* places */

.places {
  padding-top: 92px;
  padding-bottom: 92px;
  max-width: 984px;
  margin: 0 auto;
}

.place {
  padding-bottom: 80px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-template-columns: 460px 484px;
  grid-template-rows: max-content max-content;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-child {
  padding-bottom: 0;
}

.place__title {
  align-self: end;
  grid-area: place__title;
  margin: 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  color: #ffffff;
}

.place__image {
  width: 100%;
  max-height: 100%;
  grid-area: place__image;
  align-self: start;
}

.place__website {
  align-self: end;
  grid-area: place__website;
}

.place__url-heading {
  margin: 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 2px;

  color: #aaaaaa;
}

.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.place__paragraphs {
  justify-self: start;
  align-self: start;
  grid-area: place__paragraphs;
}

.place__paragraph {
  margin: 0 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 163%; */
  line-height: 29px;
  /* or 29px */

  color: #ffffff;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  margin: 0 auto;
  background-image: url(./images/overlay.jpg);
  background-position: center center;
  background-size: cover;
}

.cover__link {
  text-decoration: none;
  display: block;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.3);
}

.cover__title {
  margin: 0 auto;
  padding: 245px 312px 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */

  text-align: center;

  color: #ffffff;
}

.cover__subtitle {
  padding-bottom: 245px;
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #ffffff;
}

.footer {
  width: 92.5%;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0 0;
  padding: 0 0;
}

.footer__link-item {
  list-style: none;
  padding-right: 18px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  color: #ffffff;
}

.footer__copyright {
  margin: 0 0;
  padding: 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: right;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */

  .header {
    max-width: 928px;
  }

  .lead {
    padding-top: 48px;
    max-width: 928px;
  }

  .lead__image {
    margin-top: 56px;
  }

  .intro {
    padding-left: 48px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 300px); /* ИЗМЕНЕНО */
    gap: 14px 14px; /* ИЗМЕНЕНО */
    grid-auto-rows: 225px;
  }

  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }

  .cover__title {
    padding: 195px 232px 32px;
  }

  .cover__subtitle {
    padding-bottom: 195px;
  }

  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  /* стили для планшета */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
