@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.header {
  margin: 0 auto;
  width: 92.5%;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__lang-links {
  padding-top: 0;
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 16px;
  padding-right: 1px;
}

.header__lang-link {
  padding-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  list-style: none;
  margin-left: 18px;
}

/* LEAD */

.lead {
  margin: 0 auto;
  padding-top: 56px;
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  margin-top: 64px;
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
}

/* intro */

.intro {
  padding: 92px 0 92px 148px;
  padding-top: 92px;
  padding-bottom: 92px;
  margin: 0 0;
  padding-left: 148px;
  max-width: 690px;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 55px;
  color: #ffffff;
  margin: 0 0;
}

.intro__subtitle {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.photo-grid {
  margin: 0 auto;
  width: 92.5%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 23.9865%);
  gap: 18px 18px;
}

.photo-grid__item {
  display: block;
  object-fit: fill;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* places */

.places {
  padding-top: 92px;
  padding-bottom: 92px;
  width: 76.875%;
  margin: 0 auto;
}

.place {
  padding-bottom: 80px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  grid-template-columns: 46.748% 49.187%;
  grid-template-rows: min-content min-content;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-child {
  padding-bottom: 0;
}

.place__title {
  justify-self: start;
  align-self: start;
  grid-area: place__title;
  margin: 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 73px;
  line-height: 75px;
  /* or 106% */
  color: #ffffff;
}

.place__image {
  width: 100%;
  max-height: 100%;
  grid-area: place__image;
  justify-self: start;
  align-self: start;
}

.place__website {
  justify-self: start;
  align-self: end;
  grid-area: place__website;
}

.place__url-heading {
  margin: 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 2px;

  color: #aaaaaa;
}

.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.place__paragraphs {
  justify-self: start;
  align-self: start;
  grid-area: place__paragraphs;
}

.place__paragraph {
  margin: 0 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 163%; */
  line-height: 29px;
  /* or 29px */

  color: #ffffff;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

.cover {
  /* margin: 0 0;
  width: 92.5000%;
  display: flex;
  background-image: url(./images/overlay.jpg);
  background-position: center;
  flex-direction: column;
  align-items: center; */
  margin: 0 auto;
  width: 92.5%;
  background-image: url(./images/overlay.jpg);
  background-position: center center;
  background-size: cover;
}

.cover__link {
  width: 100%;
  text-decoration: none;
  display: block;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.3);
}

.cover__title {
  margin: 0 auto;
  padding: 245px 0 32px;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */

  text-align: center;

  color: #ffffff;
}

.cover__subtitle {
  padding-bottom: 245px;
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #ffffff;
}

.footer {
  width: 92.5%;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0 0;
  padding: 0 0;
}

.footer__link-item {
  list-style: none;
  padding-right: 18px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  color: #ffffff;
}

.footer__copyright {
  margin: 0 0;
  padding: 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: right;

  color: #ffffff;
}
/* ================================================================================ */
@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */

  .page {
    max-width: 1024px;
  }

  .header {
    width: 90.625%; /*928px*/
  }

  .lead {
    padding-top: 48px;
    width: 90.625%; /*928px*/
  }

  .lead__image {
    margin-top: 56px;
  }

  .intro {
    padding-left: 48px;
  }

  .photo-grid {
    width: 90.625%;
    grid-template-columns: repeat(3, 32.3275862068966%); /* ИЗМЕНЕНО 300px */
    gap: 16px 16px;
    /* grid-auto-rows: 225px; */
  }

  .places {
    width: 90.625%;
  }

  .place {
    max-width: 100%;
    grid-template-columns: 47.2222222222222% 48.8888888888889%; /*440px 456px*/
    gap: 48px 32px;
  }

  .place__title {
    line-height: 76px;
  }

  .cover {
    width: 100%;
  }

  .cover__title {
    padding: 195px 0 32px;
  }

  .cover__subtitle {
    padding-bottom: 195px;
  }

  .footer {
    max-width: 928px;
  }
}
/* ================================================================================ */

@media screen and (max-width: 768px) {
  /* стили для планшета */

  .header {
    width: 93.75%;
  }

  .lead {
    width: 100%;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 93.75%;
    padding: 88px 0 88px;
    margin: 0 auto;
  }

  .intro__subtitle {
  }

  .photo-grid {
    width: 93.75%;
    grid-template-columns: repeat(2, 48.8888888888889%); /* ИЗМЕНЕНО 300px */
    gap: 16px 16px;
  }

  .places {
    width: 93.75%;
  }

  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
  }

  .place__link {
    line-height: 21px;
  }

  .place__paragraph {
    margin-bottom: 25px;
  }

  .place {
    grid-template-columns: 47.2222222222222% 48.8888888888889%; /*440px 456px*/
    gap: 48px 28px;
    padding-bottom: 73px;
  }

  .place__title {
    font-size: 42px;
    line-height: 44px;
    max-width: 330px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }

  .cover__title {
    padding: 115px 0 32px;
  }

  .cover__subtitle {
    padding-bottom: 115px;
  }

  .footer {
    padding-top: 88px;
    width: ;
  }
}
/* ================================================================================ */

@media screen and (min-width: 320px) and (max-width: 679px) {
  /* стили для малого смартфона */

  .header {
    padding-top: 16px;
    width: 90%;
  }

  .header__logo {
    height: 42px;
    width: 142px;
  }

  .header__lang-links {
    padding-top: 8px;
  }

  .lead__image {
    margin-top: 40px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    padding: 64px 0 64px;
    width: 90%;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }

  .intro__subtitle {
    font-size: 16px;
    line-height: 162%;
  }

  .photo-grid {
    width: 90%;
    grid-template-columns: repeat(1, 100%); /* ИЗМЕНЕНО 300px */
    gap: 12px 0;
  }

  .photo-grid__item {
    min-height: 100%;
  }

  .places {
    width: 100%;
    padding: 64px 0 64px;
  }

  .place {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 32px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
    justify-items: center;
    padding-bottom: 50px;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px 0;
  }

  .place__website {
    padding: 0 16px 0;
  }

  .place__paragraph {
    /* max-width: 280px; */
    padding: 0 16px 0;
    /* margin: 0 auto; */
    /* max-width: 100%; */
  }

  .cover__title {
    max-width: 288px;
    padding-top: 33px;
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 33px;
  }

  .footer {
    max-width: 70%;
    padding-top: 66px;
    margin-left: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__link-item {
    padding-bottom: 32px;
    padding-right: 0;
  }

  .footer__link-item:last-of-type {
    padding-bottom: 48px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
