.footer__link-item {
  list-style: none;
  padding-right: 18px;
}

@media screen and (min-width: 320px) and (max-width: 692px) {
  .footer__link-item {
    padding-bottom: 32px;
    padding-right: 0;
  }

  .footer__link-item:last-of-type {
    padding-bottom: 48px;
  }
}
