.intro__text {
  margin: 40px 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 692px) {
  .intro__text {
    line-height: 162%;
  }
}
