.header__lang-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 16px;
  padding-right: 1px;
}

@media screen and (min-width: 320px) and (max-width: 692px) {
  .header__lang-links {
    padding-top: 8px;
  }
}
